@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: content-box ;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  background-color: whitesmoke;
  color: black;
  margin: 0;
  font-family: var(--font-roboto);
}

.App {
  text-align: center;
}

.header{
  background-color: rgb(78,78,78);
  height: 20vh;
  display: flex;
  align-items:center; 
  justify-content:space-between;
  padding-right: 25vw;
  padding-left: 2vw;
}

.header-title{
  width: 30vw;
  height:auto;
}

.header-selector{
  display: flex;
  align-items:center; 
  justify-content:space-between;
  width: 40vw;
  color: whitesmoke;
}

.page:hover{
  transform: scale(1.05, 1.05);
  color: black;
}

.main {
  color: whitesmoke;
  display: flex;
  align-items: flex-start ;
  justify-content: space-around;
  gap: 8vh;
  padding-top: 10vh;
  padding-inline-start: 2vw;
  padding-inline-end: 2vw;
  flex-wrap:wrap;
  }
  
.routine {
  border: 1px solid rgb(47, 1, 1);
  background-color:#333;
  padding: 5vh;
  /* width: 27%; */
  /* height: 70%; */
  border-radius: 15px;
  transition: background-color 0.3s, border-color 0.3s; 
}

.routine-header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  color : black;
}

.routine-title {
  text-align: left;
}

.routine-buttons {
  display : flex ;
  justify-content: space-between;
  align-items: center;
  }
  
.icon {
  width: 30px; 
  height: 30px;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
}
.routine:hover {
  transform: scale(1, 1.05);
  background-color: rgb(47, 1, 1);
}

.routine:hover .routine-header {
  color: whitesmoke; 
}

.routine:hover .button {
  opacity: 1; 
}

.Exo {
  padding: 10px;
  margin: 10px;
  background-color:#333;
  border-radius: 15px;
}

@media (max-width: 1400px) {
  .routine{
    width: 30%;
  }
}

@media (max-width: 768px) {
  .main{
    flex-direction: column;
    align-items: center;
  }
  .routine{
    width: 60%;
  }
}